<div data-role="page" data-theme="b">
  
  <div data-role="header" data-position="inline">
    <h1>Registered users </h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
  </div>

  <div data-role="content" >
    <div class="content-primary"> 
      <ul data-role="listview" data-split-icon="gear" data-split-theme="d">
      <% @users.each do |user| %>
          <li><a href="#">
            <img src="/public/images/live-user.png" />
            <h3></h3>
            <p><%= user %></p>
            </a>
            <a href="<%=url_for(:action => :delete ,:query => {:name=>user} )%>">
            Delete</a>
          </li>
      <% end %>
      </ul>
      </div>
  </div>

</div>
