<div data-role="page" data-theme="a">
<script type="text/javascript">
$(document).ready(function(){
  var login_val=""
  var pwd_val=""
  $('.user_login').val("");
  $('.user_pwd').val("");
 $('input[type=text],input[type=password]').change(function(){
   login_val=$('.user_login').attr("value");
   pwd_val=$('.user_pwd').attr("value");
  });

 $('#create_btn').click(function(){
  $.mobile.showPageLoadingMsg();
  if(login_val.charAt(0) == " "){
   $.mobile.hidePageLoadingMsg();
   show_dialog_box('Notification','cannot allow empty letter at first','single','');
  }else{
     $.post("/app/Users/create",{ user_name : login_val, user_pwd : pwd_val});
 }
 });
});
</script>
  <div data-role="header" data-position="inline">
    <h1>New User </h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Back
    </a>
  </div>
  <%= render :partial => "Shared/company_name"%>
  <div data-role="content">
    <form>
          <div data-role="fieldcontain">
            <label for="users[name]" class="fieldLabel"><b>Login</b></label>
            <input type="text" id="users[name]" class="user_login" name="users[name]" data-theme="c"/>
          </div>
          <div data-role="fieldcontain">
              <label for="users[password]" class="fieldLabel"><b>Password</b></label>
              <input type="password" id="users[password]" class="user_pwd" name="users[password]" data-theme="c"/>
          </div>

     <a href="#" id="create_btn" data-role="button">Create</a>
    </form>
  </div>
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
     <div data-role="navbar" class="nav-cust" data-grid="b">
        <ul>
          <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom" >Dashboard</a></li>
          <li><a href="#" id="refresh" data-icon="custom" onclick="$.mobile.showPageLoadingMsg(); location.reload();">Refresh</a></li>
          <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
        </ul>
      </div>
   </div>
</div>
