<div data-role="page" data-theme="b">
	<div data-role="header" data-position="inline">
		<h1>Dashboard</h1>
		<a href="<%= url_for :action => :logout %>" class="ui-btn-right" >
		 Logout
		</a>
	</div>

	<div data-role="content">
      <div data-role="fieldcontain">
        <a href="#" ><label  class="fieldLabel">License</label></a>
      </div>
      <div data-role="fieldcontain">
        <a href="#" ><label  class="fieldLabel">User</label></a>
      </div>
      <div data-role="fieldcontain">
        <a href="#" ><label  class="fieldLabel">Ping</label></a>
      </div>
      <div data-role="fieldcontain">
        <a href="#" ><label  class="fieldLabel">Devices</label></a>
      </div>
    
</div>
</div>