<div data-role="page" data-theme="a">
  <script type="text/javascript">
  $(document).ready(function(){
    $('#login_btn').click(function(){
    // $('#demo2').click(function() { 
        $.blockUI({ css: { 
            border: 'none', 
            padding: '10px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
        } }); 
 
        setTimeout($.unblockUI, 2000); 
    // }); 
    });
  });
  </script>
  <div data-role="header" data-position="inline" >
    <h3 style="font-size:16px;">RhoConnect Monitor</h3>
  
  </div>

  <div data-role="content">
     <form method="POST" action="<%= url_for :action => :server_login %>" >
         <div data-role="fieldcontain" >
           <label for="rho_monitor[url]" class="fieldLabel">Url</label>
           <input type="text" id="rho_monitor[url]" name="rho_monitor[url]" data-theme="c" value="http://"/>
         </div>
         <div data-role="fieldcontain"  >
            <label for="rho_monitor[login]" class="fieldLabel">Login</label>
            <input type="text" id="rho_monitor[login]" name="rho_monitor[login]" value="rhoadmin" data-theme="c" />
         </div>
         <div data-role="fieldcontain" >
             <label for="rho_monitor[password]" class="fieldLabel">Password</label>
             <input type="text" id="rho_monitor[password]" data-theme="c" name="rho_monitor[password]" <%= placeholder("Password") %> />
         </div>
         <input type="submit" value="Submit" id="login_btn"/>
       </form>
  </div>
 <!--  <hr /> -->
	<!-- <div style="text-align: center;">
	<img src="/public/images/RhoConnect_Icon_TB.jpg" alt="RhoConnect Logo"> RHOConnect <br />
	<div> -->
	<div style="color: #fff;	position: absolute; bottom: 0;right:0;">
	Crafted by:<a href="http://www.spritle.com/?ref=rhoconnect_monitor" target="_blank" style="color: #DCDCDC;text-decoration:none;"><i> Spritle software </i></a>
	</div>
</div>
<style type="text/css">

.fieldLabel{
  font-weight:bold !important;
}
</style>