<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline" >
    <h3 style="font-size:13px;">RhoConnect Monitor</h3>
  
  </div>

  <div data-role="content">
     <form method="POST" action="<%= url_for :action => :server_login %>" >
         <div data-role="fieldcontain" >
           <label for="rho_monitor[url]" class="fieldLabel">Url</label>
           <input type="text" id="rho_monitor[url]" name="rho_monitor[url]" value="http://"/>
         </div>
         <div data-role="fieldcontain"  >
            <label for="rho_monitor[login]" class="fieldLabel">Login</label>
            <input type="text" id="rho_monitor[login]" name="rho_monitor[login]" value="rhoadmin" />
         </div>
         <div data-role="fieldcontain" >
             <label for="rho_monitor[password]" class="fieldLabel">Password</label>
             <input type="text" id="rho_monitor[password]" name="rho_monitor[password]" <%= placeholder("Password") %> />
         </div>
         <input type="submit" value="Submit" />
       </form>
  </div>
  <hr />
	<div style="text-align: center;">
	<img src="/public/images/RhoConnect_Icon_TB.jpg" alt="RhoConnect Logo"> RHOConnect <br />
	<div>
	<div style="color: #fff;	position: absolute; bottom: 0; float: right;">
	<a href="" style="color: #fff">Built by Spritle Software</a>
	</div>
</div>
