<div data-role="page" data-theme="a">
   <script type="text/javascript">
   
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart_bar);
      function drawChart_bar() {
       
        var data1 = google.visualization.arrayToDataTable([
          ['Users', 'Devices'],
          <%  @chart.each do |chart| %>
          ["<%=  chart.user_name %>",<%= chart.device_count %>],    

          <% end %> 
        ]);

        var options1 = {
          title: 'User/Device Statistics', legend:'top',titleTextStyle: {color: 'gray'},fontSize:13,         
          hAxis: {title: 'Devices Count',  titleTextStyle: {color: 'gray'},fontSize:12}
        };

        var bar_chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        bar_chart.draw(data1, options1);
      }
    </script>
<div class="company_name"> <span>Crafted by:</span><i><a href="http://www.spritle.com/?ref=rhoconnect_monitor" target="_blank" style="color: #7CC4E7;text-decoration:none;"> Spritle software</a> </i></div><br/>


  <div data-role="content" >
    
  
    <div id="chart_div" class="charts"></div>
   
  </div>
  
  <div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
       <div data-role="navbar" class="nav-cust" data-grid="b">
         <ul>
            <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :dashboard %>" id="dashboard" data-icon="custom">Dashboard</a></li>
            <li><a href="#" id="refresh" onclick="$.mobile.showPageLoadingMsg(); $.post('/app/Chart/chart_refresh');" data-icon="custom">Refresh</a></li>
            <li><a href="<%= url_for :controller =>RhoMonitor ,:action => :logout %>" id="logout" data-icon="custom">Logout</a></li>
         </ul>
       </div>
  </div>
</div>
